<form method="POST" id="frm-buscar-alquiler">
    <div class="card text-white bg-dark mb-3">
        <div class="car-header">
            BUSQUEDA ALQUILER

            <button type="button" id="btn-close-buscar-alquiler" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-alquiler" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarAlquiler"  placeholder="cliente,pelicula" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>CLIENTE</th>
                        <th>DESCRIPCION</th>
                        <th>FECHA PRESTAMO</th>
                        <th>FECHA DEVOLUCION</th>
                        <th>VALOR</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="renta in misalquiler" :key="renta.idAlquiler" v-on:click="modificarAlquiler(renta)">
                        <td>{{ renta.cliente }}</td>
                        <td>{{ renta.desc }}</td>
                        <td>{{ renta.fechaP }}</td>
                        <td>{{ renta.fechaD }}</td>
                        <td>{{ renta.valor }}</td>
                        <td>
                            <input v-on:click=" eliminarAlquiler(renta.idAlquiler)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
   

</form>

<script src="public/vistas/alquiler/buscar-alquiler.js"></script>