<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recuperacion</title>
</head>
<body>
	<form action=""   id="frm-login" method="post">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		
				<link rel="stylesheet" href="public/vistas/login/login.css">
				
	
		<div class="card bg-dark" style="max-width: 500px;">
			<div class="card-header">
				<h4 class="text-white">RECUPERACION </h4>
			</div>
			<div class="card-body">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope-square"></i></span>
					</div>
					<input type="text" class="form-control"  v-model="name.correo" placeholder="contraseña antigua" aria-label="email" aria-describedby="basic-addon1">
				</div>
	
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
					</div>
					<input type="password" class="form-control"  v-model="name.pass" placeholder="nueva contraseña" aria-label="password" aria-describedby="basic-addon1">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
					</div>
					<input type="password" class="form-control"  v-model="name.pass" placeholder="confirmar contraseña" aria-label="password" aria-describedby="basic-addon1">
				</div>
				<div class="row pt-2">
					<div class="col">
						<input type="button" class="btn btn-danger float-left ml-3" value="ATRAS">
						<input type="submit" id="iniciarsesions" class="btn btn-outline-primary float-right mr-3" value="Recuperar">
					</div>
				</div>
					
					<div class="row pt-3">
						<div class="col-12 text-center">
							<div class="alert alert-success" role="alert"> 
								{{ name.msg }}
							</div>
						</div>
					</div>
			</div>		
			
				
			</div>
		  </div>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="public/js/jquery-ui.js"></script>
		  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		 
		   <script src="public/vistas/login/login.js"></script>
		   <script src="https://unpkg.com/vue-select@3.0.0"></script> 
	</form>
</body>
</html>