<form v-on:submit.prevent="guardarregistro" method="POST" id="frm-registrar">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/vistas/login/login.css">
	<div class="login-box container ml-5">
	
	<h1>REGISTRO</h1>
	<div class="textbox">
		<i class="fas fa-user"></i>
		<input type="text" v-model="usuario.nombre" placeholder="Nombres" name="" value="">
	</div>	
	<div class="textbox">
		<i class="fas fa-user"></i>
		<input type="text" v-model="usuario.apellido" placeholder="Apellidos" name="" value="">
	</div>	
	<div class="textbox">
		<i class="fas fa-at"></i>
		<input type="text" v-model="usuario.correo" placeholder="Correo" name="" value="">
	</div>	

	<div class="textbox">
		<i class="fas fa-key"></i>
		<input type="password" v-model="usuario.password" placeholder="password" name="" value="">
	</div>
	<div class="textbox">
		<i class="far fa-address-card"></i>
		<input type="text" v-model="usuario.direccion"  placeholder="Direccion" name="" value="">
	</div>
		<div class="text-white">
		<label for="">
			<input type="checkbox"aria-label="Checkbox for following text input">
			Cooperativa
		</label>
	
	<label for="">
		<input type="checkbox"aria-label="Checkbox for following text input"> 
		Usuario
	</label>
</div>
	
<div class=" alert alert-success" role="alert" id="app">
	{{ usuario.msg }}
</div>
	
	<input class="btn" type="submit" name="" value="REGISTRO" id="guardarregistro">
	<input class="btn" type="button" name="" value="CANCELAR">
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="public/vistas/login/registro/registrar.js"></script>
</form>