body{
    background:  #91c470;
}
h5{
    color: #fff;
}
#nav{
  display: block;

    background: #5fb677;
}

 .container{
   
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 6px;
}
ul.uls li.lis a.as{
    color: black;
}

ul.uls li.lis a.as:hover{
   border-top:3px solid teal;
   transition: border 0.4s;
}
li.lis a.as{
    margin: 1px;
}


.active{
    border-top:3px solid teal;
}
 



