
li a{
    display: block;
}
li a:hover{
    background-color: rgb(161, 1, 253);
    
}

.div{
    border-right: white;
}

.right{
    display: inline;
    list-style-type: none;
    text-decoration: none;
}

.line{
    margin-right: 10px;
}
.contenedor{
    background-color: blue;
}



