.container{
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 6px;
}





.right{
    display: inline;
    list-style-type: none;
    text-decoration: none;
}

.line{
    margin-right: 10px;
}




.listasss {
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    text-decoration: none;
    background-color: rgba(161, 1, 253, 0);
}
.listasss:hover {
    display: none;
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    text-decoration: none;
    background-color: rgba(161, 1, 253, 0);
}

.ancla:hover{
    color: white;
    text-decoration: none;
}

.fondo:hover{
    background-color: rgba(0, 0, 0, 0);
}