
 
.ulc :hover{
	display: block;
	background-color: blueviolet;
}
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {

  
	.topnav-centered a {
	  position: relative;
	  top: 0;
	  left: 0;
	  transform: none;
	}
  }