.container{
  margin: 0;
  padding: 0;
  width: 100%;
}
.login-box{
  padding-bottom: 20px;
  background-color: #000000;
  border-radius: 8px;
  width: 340px;
  top: 50%;
  transform: translate(-50% -50%);
  color: #ffffff;
}

.login-box h1{
  float: left;
  font-family: sans-serif;
  font-size: 40px;
  border-bottom: 4px solid ;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
 
}

.textbox i{
  width: 26px;
  float: left;
  text-align: center; 
 
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin:0 10px;
  padding-left: 3px;
  border-bottom: 1px solid;

}

.btn{
  width: 95%;
  background: none;
  border: 2px solid;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
.stilo{
  list-style-type: none;
}
.registro {
  display: inline-block;
  list-style-type: none;
 color: #ffffff;
}
.registro:hover, .stilo:hover{
  background-color: #000000;
 color: blueviolet;
}


@media(min-width:600px){
  .login-box{
    padding: 20px;

  }
}