
.footer{
    display:flex;
    flex-direction: column;
}
.flex{
    display: flex;
    justify-content: unsafe;
    list-style-type: none;
    text-decoration: none;

}
.card{
	width: 100%;
    max-width: 700px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
    overflow: hidden;
}


.container{
    display: flex;
    justify-content: center;
}