
	<form v-on:submit.prevent="guardarusuario"  data-accion="nuevo" data-idusuario='' id="frm-usuarios" method="post">
		<div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
			<div class="card-header">
					Registro
			</div>
			<div class="card-body">
			
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" v-model="usuario.nombreu" placeholder="Nombre usuario" aria-label="nombre" aria-describedby="basic-addon1">
					</div>
					<div class="container"> <div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
						<label class="form-check-label  text-white" for="inlineCheckbox1">Cooperativa </label>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
						<label class="form-check-label  text-white" for="inlineCheckbox2">Usuario</label>
					</div></div>
					<div class="input-group mb-3 pt-3">
						<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-users"></i></span>
						</div>
						<input type="text" class="form-control" v-model="usuario.nombrecooperativa"  placeholder="Nombre Cooperativa" aria-label="text" aria-describedby="basic-addon1">
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-address-book"></i></span>
						</div>
						<textarea class="form-control" v-model="usuario.direccion" placeholder="Direccion" aria-label="direccion"></textarea>
					</div>
					<div class="input-group mb-3 pt-3">
						<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope-square"></i></span>
						</div>
						<input type="email" class="form-control" v-model="usuario.correo" placeholder="@ejemplo.com" aria-label="email" aria-describedby="basic-addon1">
					</div>

					<div class="input-group mb-2">
						<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
						</div>
						<input type="password" class="form-control" v-model="usuario.passwords"  placeholder="*****" aria-label="password" aria-describedby="basic-addon1">
					</div>
					<div class="col-12 text-center">
						<button  id="btnguardarusers" type="submit"  class="btn btn-primary btn-lg btn-block text-white">Guardar</button>
					</div>
					<div class="alert alert-primary" role="alert">
						{{usuario.msg}}
					</div>
			</div>
		</div>
		<script src="public/vistas/usuario/usuario.js"></script>
	</form>
